body {
    max-width: 800px;
    margin: auto;
    color: #333333;
    line-height: 1.8;
}

a:link {
    color: #808080;
}
  
a:visited {
    color: #808080;
}
  
a:hover {
    color:#808080;
}
  
a:active {
    color: #808080;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid darkgray;
    padding: 5px;
    font-size: 80%;
    text-align: left;
}

pre {
    background-color: #e6e6e6;
    padding: 10px;
}