body {
    max-width: 800px;
    margin: auto;
    margin-top: 25px;
    padding: 10px;
    color: #333333;
    line-height: 1.8;
}

.navbar {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #808080;
    text-align: center;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.center {
    text-align: center;
}

h2 {
    margin-top: 1.5em;
}

h3 {
    margin-top: 1.5em;
}

a:link {
    color: #808080;
}
  
a:visited {
    color: #808080;
}
  
a:hover {
    color:#808080;
}
  
a:active {
    color: #808080;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid darkgray;
    padding: 5px;
    font-size: 80%;
    text-align: left;
}

pre {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    padding: 10px;
}

code {
    background-color: #f2f2f2;
}